
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Black.eot');
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans_fa;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans_fa;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans_fa;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('../fonts/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/WebFonts/fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/WebFonts/fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/WebFonts/fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}


body {
	font-family: 'IRANSans_fa' !important;
	direction: rtl !important;
	letter-spacing: 0 !important;
}

.nav-menu li.has-dropdown>a:after {
	margin-left : 0 !important;
	margin-right : 5px !important;
	float : left !important;
}

.dropdown .dropdown-list li {
	text-align: right !important;
}

.dropdown .dropdown-heading {
	text-align: right !important;
	font-family: 'IRANSans_fa';
}

.nav-menu li.has-dropdown>.dropdown {
	left: auto;
	right: 0 !important;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-content {
	margin-left: auto;
	margin-right: -30px;
}

.post-body {
	text-align: right;
}

p,a,b,.section-title .title ,.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list li a{
	font-family: 'IRANSans_fa';
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li a , .footer-title {
	text-align: right;
	font-family: 'IRANSans_fa';
}

.nav-aside-menu li.has-dropdown>a:after {
	float: left;
}

#nav-aside {
	overflow-y: hidden !important;
}

.section-title .title {
	padding-right : 0 !important;
	padding-left: 10px !important;
}

.post-title title-lg {
	font-weight: 600;
}

.post .post-title.title-lg {
	font-size: 20px;
    line-height: 1.6em;
}

.post .post-title {
	font-size: 16px;
    font-weight: 600;
    line-height: 1.6em;
}

.nav-menu>li>a {
	font-weight: 500;
	font-size: 16px;
}

.category-widget ul li a span {
	float: left !important;
}

.post .post-title.title-sm {
	font-size: 14px;
	font-weight: 400;
}

.post.post-widget .post-body {
	margin: 0px 150px 0px 0px !important;
}

.post.post-widget .post-img {
	float: right !important;
}

.category-widget ul li a span {
	margin-left: 0 !important;
	margin-right: 10px;
}

.post.post-row .post-img {
	float: right !important;
}

.post.post-row .post-body {
	margin: 0px calc(40% + 30px) 0px 0px !important;
}

.nav-btns {
	float: left !important;
	direction: ltr;
}

.nav-social {
	float: right !important;	
}

@media only screen and (max-width: 991px){
	.nav-logo {
		float: right !important;
	}
}